---
import Map from "../components/Map.astro";
import Layout from "../layouts/Layout.astro";
import type { PianoTuner } from "../types";

const pianoTuners: Array<PianoTuner> = [
  {
    uuid: "dead-beef",
    name: "Petter Pianostemmer",
    coordinates: [7.457609, 58.024953],
  },
  {
    uuid: "beef-dead",
    name: "Kari Klavertekniker",
    website: "https://www.kariklavertekniker.no",
    phone: "+47 123 45 678",
    services: ["Stemming", "Regulering", "Reparasjon"],
    coordinates: [7.453459563180011, 58.0274667812675],
  },
];
---

<Layout title="Pianopriser">
  <main class="h-full bg-gray-100 pb-64 pt-20">
    <div class="mx-auto h-full max-w-2xl">
      <section class="space-y-8">
        <h1 class="h1">Pianopriser</h1>
        <p class="instructions">
          Finn en pianostemmer i nærheten. Sammenlign priser og hva de ulike
          tilbyr.
        </p>
        <ul role="list" class="grid grid-cols-1 gap-1 md:grid-cols-3"></ul>
      </section>
      <section><Map pianoTuners={pianoTuners} /></section>
    </div>
  </main>
</Layout>
